[submodule "submodule/bashmarks"]
	path = submodule/bashmarks
	url = https://github.com/huyng/bashmarks
[submodule "submodule/autossh"]
	path = submodule/autossh
	url = https://github.com/FeeiCN/autossh.git
