[submodule "submodule/bashmarks"]
	path = submodule/bashmarks
	url = https://github.com/huyng/bashmarks
[submodule "submodule/autossh"]
	path = submodule/autossh
	url = https://github.com/FeeiCN/autossh.git
[submodule "submodule/pureline"]
	path = submodule/pureline
	url = https://github.com/chris-marsh/pureline.git
[submodule "submodule/xdm"]
	path = submodule/xdm
	url = https://github.com/subhra74/xdm.git
[submodule "submodule/nerd-fonts"]
	path = submodule/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule "submodule/kvm-install-vm"]
	path = submodule/kvm-install-vm
	url = git@github.com:pchaos/kvm-install-vm.git
[submodule "submodule/bash-git-prompt"]
	path = submodule/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
